<footer class="footer">
  <div class="container footer-content">
    <div class="footer-brand">
      <h2>Altiplano Digital</h2>

      <p>Soluciones digitales modernas para negocios, emprendedores y pequeñas empresas.</p>
      <div class="footer-credit">
        <p>Desarrollado por Gerson Humberto Morales Cosiguá</p>

        <p>Licenciatura en Tecnología de Sistemas Informáticos</p>

        <p>Curso: Programación Web | Carné: 19395</p>
      </div>
    </div>

    <div class="footer-links">
      <h3>Enlaces</h3>

      <ul>
        <li><a routerLink="">Inicio</a></li>
        <li><a routerLink="/servicios">Servicios</a></li>
        <li><a routerLink="/nosotros">Nosotros</a></li>
        <li><a routerLink="/proyectos">Proyectos</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 Altiplano Digital. Todos los derechos reservados.</p>
  </div>
</footer>
